.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  outline: none;
}

.modal.open {
  transform: translateY(0);
}

.imageModal {
  width: 100%;
  margin: 0 auto;
}

.imageModalDescription {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #fafafb;
  color: #333;
}
